.form-header{
  padding-top: 25px;
}
.form-container {
  border-style: solid;
  border-radius: 5px;
  padding-bottom: 25px;
}
.form-camp{
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.form-camp-input{
  display: flex;
  align-items: center;
  flex: 1;
}
.adc-button{
  border-radius: 5px;
  background-color: #255999;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 13%;
  height: 40px;
}